
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L]
</IfModule>

# END WordPress
# BEGIN Sandbox
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/
RewriteCond %{REQUEST_URI} !^/wordpress/sandbox/.* [NC]
RewriteCond %{HTTP_COOKIE} sandbox=([^;]+) [NC]
RewriteRule ^(.*)$ /wordpress/sandbox/%1/$1 [NC,L,QSA,S=10]
</IfModule>
# END Sandbox

# BEGIN WordPress
php_value upload_max_filesize 640M
php_value post_max_size 640M
php_value max_execution_time 300
php_value max_input_time 300
# END Sandbox
